node_modules
dist/

DS_Store

# environment file
.env
.env.test

# logs data
logs/
logs

# mongo data
mongo-data/
mongo-data-test/

# postgres data
postgres-data/
postgres-data-test/

# test
coverage/